.footer {
  padding: 67px 0 50px 0;
}
.footer__copyright {
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #545454;
}
@media screen and (max-width: 627px) {
  .footer__copyright {
    font-size: 14px;
  }
  .footer {
    padding: 48px 0 36px 19px;
  }
}
@media (min-width: 627px) and (max-width: 768px) {
  .footer {
    padding: 50px 0 36px 19px;
  }
}
