.modal {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  justify-content: center;
  visibility: hidden;
  display: flex;
  opacity: 0;
  transition: visibility 0s 0.6s, opacity 0.5s ease;
}
.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.6s ease;
}

.modal__container {
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
  padding: 36px;
}
.modal__type-image {
  background: none;
  padding: 0;
  max-height: 75vh;
  max-width: 75vw;
  width: auto;
  height: auto;
  display: flex;
}
.modal__image {
  object-fit: cover;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
.modal__caption {
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  max-width: 291px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  padding: 0;
  margin: 0;
}
.modal__close {
  position: absolute;
  height: 40px;
  width: 40px;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  border: none;
  background: transparent no-repeat url(../images/Close\ Icon.svg) center /
    contain;
  transition: ease 456ms opacity;
  cursor: pointer;
}
.modal__close:hover {
  opacity: 0.6;
}
.modal__title {
  max-width: 330px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0 0 24px 0;
}
.modal__form {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.modal__input {
  max-width: 358px;
  font-family: "Inter", Arial, sans-serif;
  height: 28px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.modal__button {
  width: 358px;
  height: 50.15px;
  background-color: rgba(0, 0, 0, 1);
  color: #ffffff;
  border-radius: 2px;
  padding: 0;
  margin: 18px 0 0 0;
  transition: background-color ease 600ms;
  border: none;
  cursor: pointer;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}
.modal__button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
@media screen and (max-width: 627px) {
  .modal_opened {
    justify-content: center;
    align-items: flex-start;
  }
  .modal__container {
    padding: 25px 22px;
    max-width: 100%;
    margin: auto;
    height: auto;
  }
  .modal__type-image {
    padding: 0;
    width: 75vw;
    max-width: 100%;
  }
  .image__modal {
    padding: 0 20px;
  }
  .modal__title {
    margin-bottom: 58px;
    font-size: 18px;
    line-height: 22px;
  }
  .modal__button {
    max-width: 238px;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    height: 45px;
  }
  .modal__input {
    max-width: 238px;
  }
  .modal__close {
    height: 25px;
    left: calc(100% - 35px);
    bottom: calc(100% + 13px);
  }
}
