.profile {
  display: flex;
  margin: 0 auto;
  height: 120px;
  align-items: center;
  padding: 40px 0 0 0;
}
.profile__avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}
.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "subtitle subtitle";
  grid-template-columns: minmax(auto, 373px) auto;
  align-items: center;
  justify-content: center;
}
.profile__edit-button {
  grid-area: button;
  width: 24px;
  height: 24px;
  background: no-repeat transparent url(../images/pen.svg) center;
  border: 1px solid #fff;
  padding: 7px;
  cursor: pointer;
  margin: 0 0 0 18px;
  transition: opacity 470ms ease;
}
.profile__edit-button:hover {
  opacity: 0.5;
}

.profile__title {
  grid-area: title;
  padding: 0;
  margin: 0;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  font-family: "Inter", Arial, sans-serif;
}
.profile__description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  grid-area: subtitle;
  padding: 0;
  margin: 7px 0 0 0;
}
.profile__add-button {
  background: transparent url(../images/plus.svg) center no-repeat;
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  cursor: pointer;
  padding: 0;
  margin: 0 0 0 auto;
  transition: opacity 470ms ease;
}
.profile__add-button:hover {
  opacity: 0.5;
}
