@media screen and (max-width: 627px) {
  .page {
    padding-top: 28px;
  }
  .header {
    height: 56px;
    padding: 0 0 32px 27px;
  }
  .header__logo {
    width: 126px;
    height: 24px;
  }
  .profile {
    flex-direction: column;
    height: auto;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 26px 0 0 0;
  }
  .profile__title {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
  }
  .profile__subtitle {
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
  .profile__add-button {
    margin: 36px 0 0 0;
    width: 282px;
  }
  .footer {
    padding: 50px 0 36px 19px;
  }
}
@media (min-width: 627px) and (max-width: 768px) {
  .page__section {
    width: 95%;
    margin: 0 auto;
  }
  .header {
    padding: 28px 0 32px 27px;
    margin: 0 auto;
    height: auto;
  }
  .profile {
    display: flex;
    justify-content: center;
    height: auto;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 0;
  }
  .profile__title {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-align: left;
  }
  .profile__subtitle {
    width: 100%;
    text-align: left;
  }

  .card {
    margin-top: 36px;
  }
  .footer {
    padding: 50px 0 36px 19px;
  }
}

@media (min-width: 769px) and (max-width: 1280px) {
  .header {
    padding: 28px 0 32px 27px;
    margin: 0 auto;
    height: auto;
  }

  .page__section {
    width: 95%;
    margin: 0 auto;
  }

  .cards {
    margin: 26px 0 0 0;
  }
}
