@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
.page {
  color: #fff;
  background-color: #000;
}
.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}
.header {
  padding: 45px;
  height: 74px;
  border-bottom: 1px solid #545454;
  margin: 0 auto;
  color: #fff;
}
.header__logo {
  width: 173px;
  height: 33px;
  background-color: transparent;
}
.profile {
  display: flex;
  margin: 0 auto;
  height: 120px;
  align-items: center;
  padding: 40px 0 0 0;
}
.profile__avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}
.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "subtitle subtitle";
  grid-template-columns: minmax(auto, 373px) auto;
  align-items: center;
  justify-content: center;
}
.profile__edit-button {
  grid-area: button;
  width: 24px;
  height: 24px;
  background: no-repeat transparent url(../images/pen.svg) center;
  border: 1px solid #fff;
  padding: 7px;
  cursor: pointer;
  margin: 0 0 0 18px;
  transition: opacity 470ms ease;
}
.profile__edit-button:hover {
  opacity: 0.5;
}

.profile__title {
  grid-area: title;
  padding: 0;
  margin: 0;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  font-family: "Inter", Arial, sans-serif;
}
.profile__subtitle {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  grid-area: subtitle;
  padding: 0;
  margin: 7px 0 0 0;
}
.profile__add-button {
  background: transparent url(../images/plus.svg) center no-repeat;
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  cursor: pointer;
  padding: 0;
  margin: 0 0 0 auto;
  transition: opacity 470ms ease;
}
.profile__add-button:hover {
  opacity: 0.5;
}

.cards {
  margin-top: 47px;
  /* fonts */
}
.card__list {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  margin: 0;
  padding: 0;
}
.card {
  list-style-type: none;
  width: 282px;
  height: 361px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;

  padding: 25px 20px;
}
.card__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  padding: 0;
}
.card__button {
  margin: 0;
  cursor: pointer;
  height: 18px;
  width: 21px;
  border: none;
  background: transparent url(../images/heart.svg) no-repeat center;
  transition: opacity 470ms ease;
}
.card__button:hover {
  opacity: 0.5;
}
.footer {
  padding: 67px 0 50px 0;
}
.footer__copyright {
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #545454;
}

@media screen and (max-width: 320px) and (max-width: 480px) {
  .page {
    padding-top: 28px;
  }
  .header {
    height: 56px;
    padding: 0 0 32px 27px;
  }
  .header__logo {
    width: 126px;
    height: 24px;
  }
  .profile {
    flex-direction: column;
    height: auto;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 26px 0 0 0;
  }
  .profile__title {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
  }
  .profile__subtitle {
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
  .profile__add-button {
    margin: 36px 0 0 0;
    width: 282px;
  }
  .footer {
    padding: 50px 0 36px 19px;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .page {
  }
  .page__section {
    width: 95%;
    margin: 0 auto;
  }
  .header {
    padding: 28px 0 32px 27px;
    margin: 0 auto;
    height: auto;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 0;
  }
  .profile__title {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-align: left;
  }
  .profile__subtitle {
    width: 100%;
    text-align: left;
  }
  .card {
    margin-top: 36px;
  }
  .footer {
    padding: 50px 0 36px 19px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .page {
    background-color: blue;
  }
}
