<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <title>Around the us</title>
  </head>
  <body class="page">
    <div class="page__content">
      <header class="header page__section">
        <img
          src="<%=  require('./images/logo.svg') %>"
          alt="header logo"
          class="header__logo"
        />
      </header>
      <main class="main">
        <section class="profile page__section">
          <div class="profile__avatart-box">
            <img
              src="<%= require('./images/jacques-cousteau.png') %>"
              alt="user profile picture"
              class="profile__avatar"
            />
            <button class="profile__avatar-edit-button" type="button"></button>
          </div>
          <div class="profile__info">
            <h1 class="profile__title" id="profile-title">Jacques Cousteau</h1>
            <button
              type="button"
              class="profile__edit-button"
              id="profile-edit-button"
              aria-label="Edit"
            ></button>
            <p class="profile__description" id="profile-description">
              Explorer
            </p>
          </div>
          <button
            type="button"
            class="profile__add-button"
            aria-label="Add"
            id="profile-add-button"
          ></button>
        </section>
        <section class="gallery page__section">
          <ul class="gallery__cards"></ul>
        </section>
      </main>
      <footer class="footer page__section">
        <p class="footer__copyright">&copy; Around the U.S.</p>
      </footer>
    </div>
    <!-- Edit profile Modal -->
    <div class="modal" id="profile-modal">
      <div class="modal__container">
        <button type="button" class="modal__close" id="modal-close"></button>
        <h3 class="modal__title">Edit profile</h3>
        <form
          name="editProfileModalForm"
          action="#"
          class="modal__form"
          novalidate
        >
          <label for="modal-name" class="modal__label">
            <input
              type="text"
              name="title"
              class="modal__input"
              id="modal-name"
              value=""
              placeholder="Name"
              required
              minlength="2"
              maxlength="40"
            />
            <span class="modal__error" id="modal-name-error"></span>
          </label>

          <label for="modal-description" class="modal__label">
            <input
              type="text"
              name="description"
              class="modal__input"
              id="modal-description"
              value=""
              placeholder="Description"
              required
              minlength="2"
              maxlength="200"
            />
            <span class="modal__error" id="modal-description-error"></span>
          </label>
          <button class="modal__button" id="modal-submit-button" type="submit">
            Save
          </button>
        </form>
      </div>
    </div>

    <!-- change profile modal modal_opened -->
    <div class="modal" id="change-profile-modal">
      <div class="modal__container">
        <button
          type="button"
          class="modal__close"
          id="avatar-modal-close"
        ></button>
        <h3 class="modal__title">Change profile picture</h3>
        <form name="changeAvatarModalForm" action="#" class="modal__form">
          <label class="modal__label" for="modal-url-input">
            <input
              type="url"
              name="url"
              class="modal__input"
              id="modal-avatr-url-input"
              value=""
              placeholder="Image URL"
              required
            />
            <span class="modal__error" id="modal-avatr-url-input-error"></span>
          </label>
          <button
            class="modal__button modal__button_disabled"
            id="chnage-profile-modal-submit-button"
            type="submit"
            disabled
          >
            Save
          </button>
        </form>
      </div>
    </div>

    <!-- card modal -->
    <div class="modal" id="card-modal">
      <div class="modal__container">
        <button
          type="button"
          class="modal__close"
          id="card-modal-close"
        ></button>
        <h3 class="modal__title">New Place</h3>
        <form name="cardModalForm" action="#" class="modal__form">
          <label for="modal-title-input" class="modal__label">
            <input
              type="text"
              name="title"
              class="modal__input"
              id="modal-title-input"
              value=""
              placeholder="Title"
              required
              minlength="1"
              maxlength="30"
            />
            <span class="modal__error" id="modal-title-input-error"></span>
          </label>
          <label class="modal__label" for="modal-url-input">
            <input
              type="url"
              name="url"
              class="modal__input"
              id="modal-url-input"
              value=""
              placeholder="Image URL"
              required
            />
            <span class="modal__error" id="modal-url-input-error"></span>
          </label>
          <button
            class="modal__button modal__button_disabled"
            id="card-modal-submit-button"
            type="submit"
            disabled
          >
            Save
          </button>
        </form>
      </div>
    </div>
    <!-- card Delete modal -->
    <div class="modal" id="card-delete-modal">
      <div class="modal__container">
        <button
          type="button"
          class="modal__close"
          id="card-delete-modal-close"
        ></button>
        <h3 class="modal__title">Are you sure?</h3>
        <form name="modalDeleteForm" action="#" class="modal__form">
          <button
            class="modal__button"
            id="card-delete-modal-submit-button"
            type="submit"
          >
            Yes
          </button>
        </form>
      </div>
    </div>
    <!-- Image modal -->
    <div class="modal" id="image-modal">
      <div class="modal__container modal__type-image">
        <button
          type="button"
          class="modal__close"
          id="image-modal-close"
        ></button>
        <img src="#" alt="" class="modal__image" />
        <p class="modal__caption"></p>
      </div>
    </div>

    <!-- template for cards -->
    <template id="card-template">
      <li class="card">
        <img class="card__image" src="" alt="" />
        <button
          type="button"
          class="card__delete-button"
          aria-label="Remove"
        ></button>
        <div class="card__description">
          <h2 class="card__title"></h2>
          <button
            type="button"
            class="card__like-button"
            aria-label="Like"
          ></button>
          <span class="card__like-amount">0</span>
        </div>
      </li>
    </template>
  </body>
</html>
